VITE_SUPABASE_PROJECT_ID=vrgngelqfpuiqjxfoyzp
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable8_yi2oTE7evvXY0Yib3MWh6w_y6KD859y
VITE_SUPABASE_URL=https://vrgngelqfpuiqjxfoyzp.supabase.co
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51OJtoyGjU94Ttsnis0i6tYunmPcsTpCPWVF2JmZiCcBS4GkwRpF4XNNjnGXVMMb8QaoGnHSgbUJ0XQg8QOozzCKX00fHAiyVhJ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZyZ25nZWxxZnB1aXFqeGZveXpwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTUwNDY0MSwiZXhwIjoyMDg1MDgwNjQxfQ.EL9anocPpoAqoYEs90lbg0kpiQi8xYjqDBL45v2W3II
STRIPE_SECRET_KEY=sk_test_51OJtoyGjU94TtsniJzYN8LuleENyBIXb8myy8FGUt4HIrIL7BCRdzyeyDpBG71R2uBXlexMibqoqjQW7LE6NMYWt00Jp1gqB4p
STRIPE_WEBHOOK_SECRET=whsec_44d7889bc23f3a126a204a1e849814809113dd1e523f080c64031d4213434e22